/* Common style */
*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}
.btn{
    background-color: #E55473;
    padding: 10px 20px;
    border: 0;
    border-radius: 5px;
}

/* Navber related style */
.navbar{
    background-color: rgba(175, 172, 172, 0.545);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
}
.logo{
    color: #272727;
    font-weight: 800;
    font-size: 35px;
}
.logo span{
    color: #E55473;
}
.navbar ul{
   list-style: none;
   display: flex;
   justify-content: space-around;
   gap: 40px;
}
.navbar ul a{
   text-decoration: none;
   color: black;
   font-weight: 600;
   font-size: 20px;
}

.navbar .NavSocialIcons i {
   margin-right: 10px;
   cursor: pointer;
   font-weight: 600;
   font-size: 20px;
   color: #E55473;
}


.header{
    height: 650px;
    background: rgba(229, 84, 115, 0.10);
    display: flex;
    padding: 0 100px 0 200px;
    justify-content: space-between;
}
.header div {
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    width: 600px;
}
.header div h3{
  font-size: 60px;
  color: #272727;
}
.header div p{
  color: rgba(39, 39, 39, 0.60);
 margin: 15px 0;
}
.header div .btn{
  width: 150px;
  color: white;
  font-weight: 600;
  font-size: 20px;
}